@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap'); 
   
*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family:"Roboto", sans-serif;
}

.main-div::before {
    content: "";
    background: url("/images/backcover.svg");
    background-repeat: no-repeat;   
    position: absolute; 
    background-position: bottom left;
    top: 0;
    right: 0;
    width: 900px;
    height: 720px;
} 
/* ----------------------Navbar---------------------- */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

nav img {
    cursor: pointer;
    width: 110px;
    margin-left: 50px;
}
.nav-items {
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-family: 'Roboto', sans-serif;
} 

.nav-item {
    font-size: 15px;
    color: #3e418a;
    font-weight: 600;
    cursor: pointer;
    margin-right: 15px;
    font-family: "Roboto", sans-serif;
}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-items h5{
    padding: 20px;
}
.nav-items h5:nth-child(4){
    color: #0b0b12;
}
.nav-items h5:nth-child(5){
    color:#0b0b12;
}

.signin-btn{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    padding: 4px 20px;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(to right,  #5257d1, #e989e9);
    margin-left: 75px;
    margin-right: 95px;
    margin-top: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 16px;
    
}  
/* ----------------------Intro section------------------------- */

.intro-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
} 

/* ---------------------Left Section--------------------------- */
.left-section h1{
    font-size: 70px;
    color: #3e418a;
    letter-spacing: 0.1rem;
    margin-top: 95px;
    /* margin-left: 90px; */
}
.left-section h4{
    font-size: 14px;
    font-weight: 200;
    font-family:'Roboto', sans-serif;
    width: 300px;
    /* margin-left: 100px; */
    margin-top: 40px;
    line-height: 25px;
}

.learn-more-btn {
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    /* margin-left: 100px; */
    margin-top: 40px;
    background: linear-gradient(to right,#5257d1, #e989e9 );
    font-family: 'poppins';
    font-size: 22px;
    font-weight: 500;
    color:#fff;
    font-family: "Roboto",sans-serif;
    
    
} 

/* --------------------SVG------------------- */

.imgs-div{
    position: relative;
}

img[alt="vector-img"] {
    position: relative;
    right: 70px;
    bottom: 120px;
    width: 100px;
}

img[alt="vector-dot"] {
    position: relative;
    bottom: 210px;
    right: 110px;
    width: 20px;
}

img[alt="intro-img"] {
    position: relative;
    width: 700px;
    right: 140px;
    
} 
/* ------------------Media Query------------------- */
@media screen and (max-width:1356px){
    .intro-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    } 
}

@media screen and (max-width:950px){
    .nav-items{
        display: none;
    }
    img[alt="intro-img"] {
        width: 500px;  
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:25% ;
    } 
    .main-div::before {
        width: 750px;
        height: 620px;
    } 
    .learn-more-btn {
        margin-left: 50px;
        margin-top: 40px  
        
    }
    img[alt="vector-img"] {
      display: none;
    }
    
    img[alt="vector-dot"] {
        display: none   ;
    }
    
}
@media screen and (max-width:650px){
    .main-div::before {
        width: 550px;
        height: 520px;
    } 
    img[alt="intro-img"] {
       
        width: 300px;  
        margin-top: 100px;

    }
}
@media screen and (max-width:501px){
    .left-section h1{
        font-size: 50px;
        font-weight: 600;
        margin-left: -50px;
       
}
}